<!-- HEADER -->
<div class="d-flex justify-content-center">
  <div class="crud-header col-md-11">
    <div class="d-flex flex-row align-items-center">
      <div class="col-md-5">
        <span class="text-center h1 fw-bold mb-5 mx-1 mx-md-4 mt-4 text-white">Retenciones</span>
      </div>
      <div class="col-md-5">
        <div class="d-flex flex-column align-items-center">
          <div class="d-flex justify-content-center search col-md-12">
            <i class="small material-icons">search</i>
            <input type="text" placeholder="Busca una retención" [(ngModel)]="busqueda" (change)="filtrarRetenciones()">
          </div>
          <div class="input-field col-md-12">
            <span class="helper-text text-white">Ingresa un número de comprobante</span>
          </div>
        </div>
      </div>
      <div class="col-md-2 d-flex justify-content-end">
        <a class="btn-floating btn-large waves-effect waves-light add-button" (click)="abrirModalRetencion('crear')">
          <i class="material-icons">add</i>
        </a>
      </div>
    </div>
  </div>
</div>

<!-- TABLE -->
<div class="d-flex justify-content-center">
  <div class="col-md-11">
    <table class="table">
      <thead class="table-primary">
      <tr>
        <th scope="col" *ngFor="let thead of theads">
          {{thead}}
        </th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let retencion of retencionesBuscadas">
        <td *ngIf="retencion.habilitado">{{retencion.numero_comprobante}}</td>
        <td *ngIf="retencion.habilitado">{{retencion.razon_social_comprador}}</td>
        <td *ngIf="retencion.habilitado">{{retencion.identificacion_comprador}}</td>
        <td *ngIf="retencion.habilitado">{{retencion.numero_factura}}</td>
        <td *ngIf="retencion.habilitado">{{retencion.fecha_emision}}</td>
        <td *ngIf="retencion.habilitado">{{retencion.total_retenido}}</td>
        <td *ngIf="retencion.habilitado">
          <div class="d-flex align-items-center justify-content-center">
            <mat-icon *ngFor="let action of actions" class="col-md-4 action-icon"
                      (click)="realizarAccion(action.name, retencion.idRetencion)" style="margin: 0 10px">
              {{action.icon}}
            </mat-icon>
          </div>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>



