<div class="overflow-auto">
  <h1 mat-dialog-title class="d-flex justify-content-center">Selección de destinatario</h1>
  <div class="row">
    <!-- NUMERO DE IDENTIFICACION -->
    <div class="d-flex flex-column justify-content-center form-outline flex-fill col-md-6" style="padding-right: 20px">
      <div [formGroup]="formGroupDestinatario" class="input-field">
        <input id="numero_identificacion" type="text" class="validate"
               formControlName="numero_identificacion" [(ngModel)]="busquedaCliente" (change)="buscarCliente()">
        <label for="numero_identificacion" class="active">Número de identificación</label>

        <div *ngIf="formGroupDestinatario.get('numero_identificacion')">
          <span *ngIf="formGroupDestinatario.get('numero_identificacion')?.valid ||
          !formGroupDestinatario.get('numero_identificacion')?.touched"
                class="helper-text">
            Ingrese el número de identificación del cliente
          </span>
          <span *ngIf="
             (formGroupDestinatario.get('numero_identificacion')?.invalid &&
             formGroupDestinatario.get('numero_identificacion')?.touched &&
             formGroupDestinatario.get('numero_identificacion')?.dirty &&
             !(formGroupDestinatario.get('numero_identificacion')?.hasError('minlength') ||
            formGroupDestinatario.get('numero_identificacion')?.hasError('maxlength'))) ||

            (formGroupDestinatario.get('numero_identificacion')?.invalid &&
             formGroupDestinatario.get('numero_identificacion')?.touched &&
             !(formGroupDestinatario.get('numero_identificacion')?.hasError('minlength') ||
            formGroupDestinatario.get('numero_identificacion')?.hasError('maxlength')))"
                class="helper-text" style="color: var(--error)">
            Este campo es obligatorio
          </span>
          <span *ngIf="formGroupDestinatario.get('numero_identificacion')?.hasError('minlength') ||
                formGroupDestinatario.get('numero_identificacion')?.hasError('maxlength')"
                class="helper-text" style="color: var(--error)">
            El número de identificación debe tener 10 o 13 caracteres
          </span>
        </div>
      </div>
    </div>

    <!-- NUMERO DE FACTURA -->
    <div class="d-flex flex-column justify-content-center form-outline flex-fill col-md-6">
      <div [formGroup]="formGroupDestinatario" class="input-field">
        <label>Número de factura</label><br><br>
        <select class="form-select" formControlName="numero_factura" (change)="buscarFactura()">
          <option *ngFor="let factura of facturasBuscadas" value="{{factura.id_factura}}">{{factura.numero_comprobante}}</option>
        </select>
        <div *ngIf="formGroupDestinatario.get('numero_factura')">
          <span *ngIf="formGroupDestinatario.get('numero_factura')?.valid" class="helper-text">Seleccione una factura del cliente</span>
          <span *ngIf="
             (formGroupDestinatario.get('numero_factura')?.invalid &&
             formGroupDestinatario.get('numero_factura')?.touched &&
             formGroupDestinatario.get('numero_factura')?.dirty &&
             !(formGroupDestinatario.get('numero_factura')?.hasError('minlength') ||
            formGroupDestinatario.get('numero_factura')?.hasError('maxlength'))) ||

            (formGroupDestinatario.get('numero_factura')?.invalid &&
             formGroupDestinatario.get('numero_factura')?.touched &&
             !(formGroupDestinatario.get('numero_factura')?.hasError('minlength') ||
            formGroupDestinatario.get('numero_factura')?.hasError('maxlength')))"
                class="helper-text" style="color: var(--error)">
      Este campo es requerido
      </span>
        </div>
      </div>
    </div>

    <!-- INFORMACION DEL COMPRADOR -->
    <div class="col-md-6">
      <div class="col-md-12 span-calculated" style="margin-top: 10px">
        <span *ngIf="clienteDB != null"><b>Razón Social:</b> {{clienteDB.nombres_razon_social}}</span>
        <span *ngIf="clienteDB === null"><b>Razón Social:</b> </span>
      </div>
      <div class="col-md-12 span-calculated" style="margin-top: 10px">
        <span *ngIf="clienteDB != null"><b>Dirección:</b> {{direccionCliente}}</span>
        <span *ngIf="clienteDB === null"><b>Dirección:</b> </span>
      </div>
      <div class="col-md-12 span-calculated">
        <span *ngIf="clienteDB != null"><b>Teléfono:</b> {{clienteDB.telefono}}</span>
        <span *ngIf="clienteDB === null"><b>Teléfono:</b></span>
      </div>
      <div class="col-md-12 span-calculated">
        <span *ngIf="clienteDB != null"><b>Correo:</b> {{clienteDB.correo_electronico}}</span>
        <span *ngIf="clienteDB === null"><b>Correo:</b></span>
      </div>
    </div>

    <!-- INFORMACION DE LA FACTURA -->
    <div class="col-md-6" style="margin-bottom: 20px">
      <div class="col-md-12 span-calculated" style="margin-top: 10px">
        <span *ngIf="facturaDB.id_factura != undefined"><b>Fecha de emisión:</b> {{fechaEmisionFactura}}</span>
        <span *ngIf="facturaDB.id_factura === undefined"><b>Fecha de emisión:</b> </span>
      </div>
      <div class="col-md-12 span-calculated" style="margin-top: 10px">
        <span *ngIf="facturaDB.id_factura != undefined"><b>Importe total:</b> {{this.facturaDB.importe_total.toFixed(2)}}</span>
        <span *ngIf="facturaDB.id_factura === undefined"><b>Importe total:</b> </span>
      </div>
    </div>

    <div class="d-flex flex-column justify-content-center form-outline flex-fill col-md-6">
      <app-input-generic
                         [title]="fields[0].title"
                         [nameField]="fields[0].nameField"
                         [type]="fields[0].type"
                         [helpText]="fields[0].helpText"
                         [requiredMessage]="fields[0].requiredMessage"
                         [lengthMessage]="fields[0].lengthMessage"
                         [options]="fields[0].options"
                         [formGroup]="formGroupDestinatario"
      ></app-input-generic>
    </div>
  </div>

  <!-- TABLE -->
  <!--
  <div class="d-flex justify-content-center">
    <div class="col-md-11">
      <table class="table">
        <thead class="table-primary">
        <tr>
          <th scope="col" *ngFor="let thead of theads">
            {{thead}}
          </th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let factura of facturasBuscadas">
          <td *ngIf="factura.habilitado">{{factura.numero_comprobante}}</td>
          <td *ngIf="factura.habilitado">{{factura.fecha_emision}}</td>
          <td *ngIf="factura.habilitado">{{factura.importe_total.toFixed(2)}}</td>
          <td *ngIf="factura.habilitado">
            <div class="d-flex align-items-center justify-content-center">
              <mat-icon class="col-md-4 action-icon"
                        (click)="agregarFactura(factura)" style="margin: 0 10px">
                add
              </mat-icon>
            </div>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
  -->
  <div mat-dialog-actions class="d-flex justify-content-center">
    <button class="btn btn-info" type="button" style="margin: 0px 20px" [disabled]="formGroupDestinatario.invalid" (click)="agregarFactura()">Agregar</button>
    <button class="btn btn-danger" type="button" style="margin: 0px 20px" (click)="cancelar()">Cancelar</button>
  </div>
</div>


