<div [formGroup]="formGroup" class="input-field">
  <input id="{{nameField}}" type="{{type}}" class="validate" formControlName="{{nameField}}">
  <label for="{{nameField}}">{{title}}</label>
  <!--
  <span class="helper-text">{{helpText}}</span>
  -->
  <div *ngIf="formGroup.get(nameField)">
    <span *ngIf="formGroup.get(nameField)?.valid" class="helper-text">{{helpText}}</span>
    <span *ngIf="
             formGroup.get(nameField)?.invalid &&
             formGroup.get(nameField)?.touched &&
             formGroup.get(nameField)?.dirty &&
             !(formGroup.get(nameField)?.hasError('minlength') ||
            formGroup.get(nameField)?.hasError('maxlength'))"
             class="helper-text" style="color: var(--error)">
      {{requiredMessage}}
    </span>
    <span *ngIf="formGroup.get(nameField)?.hasError('minlength') ||
          formGroup.get(nameField)?.hasError('maxlength')"
          class="helper-text" style="color: var(--error)">
      {{lengthMessage}}
    </span>
  </div>
  <!--
  <div *ngIf="formGroup.get(nameField)">
    <div class="alert alert-warning" role="alert" *ngIf="
             formGroup.get(nameField)?.invalid &&
             formGroup.get(nameField)?.touched &&
             formGroup.get(nameField)?.dirty
          ">
        <span *ngIf="formGroup.get(nameField)?.hasError('required')">
          {{requiredMessage}}
        </span>
      <span *ngIf="formGroup.get(nameField)?.hasError('minlength') || formGroup.get(nameField)?.hasError('maxlength')">
          {{lengthMessage}}
        </span>
    </div>
  </div>
  -->
</div>

